body {font-family: 'Raleway', sans-serif;
      font-family: 'Roboto', sans-serif;
      color: #434455; 
      background-color: #FFFFFF}
img {display: block;}

h1, h2, h3, h4, h5, h6, p {margin-bottom: 0;
margin-top: 0;}

ul {list-style: none;
margin-bottom: 0;
margin-top: 0;
padding-left: 0;}

.header {border-bottom: 1px solid #e7e9fc;}
.header-logo {font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    text-decoration: none;
    letter-spacing: 0.03em;
    background-color: #FFFFFF;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;}
.header-contacts {font-style: normal;
margin-left: auto;}
.container {width: 1158px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;}
.header-nav {display: flex;
align-items: center;}
.header-logo{margin-right: 76px;}
.header-logo-blue {color: #2e2f42;}
.header-menu-list {display: flex;
gap: 40px;}
.header-menu-link {padding: 24px 0;}
.header-menu-item {padding: 24px 0;}
.header-menu-link {font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
    text-decoration: none;
    color: #2e2f42;
    font-family: "Roboto", sans-serif;}
.header-menu-link:hover{color: #404bbf;}
.header-menu-link:focus{color: #404bbf;}

.header-contacts {font-style: normal;}
.header-contacts-list {display: flex;
gap: 40px;}
.header-contacts-link {font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;
    color: #434455;
    font-family: "Roboto", sans-serif;}
.header-contacts-link {font-style: normal}
.header-contacts-link:hover{color: #404bbf;}
.header-contacts-link:focus { color: #404bbf;}



.section-main {background-color: #2e2f42;
padding: 188px 0;}

.section-main-title {font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    background-color: #2e2f42;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;}
.visually-hidden {position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;}
    
.main-section-button {font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    letter-spacing: 0.04em;
    color: #fff;
}
.main-section-button {display: flex;
    display: block;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;}
.main-section-button:hover{background-color: #404BBF;}
.main-section-button:focus{background-color: #404BBF;}

.section-main-menu {padding: 120px 0;}
.main-menu-h{font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
    font-family: "Roboto", sans-serif;
    color: #2e2f42;}
.main-menu-h {margin-bottom: 8px;}
.main-pic {width: calc((100% - 72px) / 4);}
.main-menu-text{font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;
    color: #434455;}


.main-team {background-color: #F4F4FD;
         padding: 120px 0;}
.main.team.list {background-color: #FFFFFF;}
.main-menu-list {display: flex;
gap: 24px;}
.main-team-title {font-weight: 700;
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    background-color: #FFFFFF;
    text-align: center;
    color: #2e2f42;}

.main-team-title {margin-bottom: 72px;}
.main-team-title {background-color: #FFFFFF;}
.main-menu-title {width: calc((100% - 72px) / 4);}
.main-pic {border-radius: 0px 0px 4px 4px;}
.main-pic {background-color: #FFFFFF;}
.main.pic {border-radius: 0px 0px 4px 4px;}
.container-team {padding: 32px 0;}
.main-name {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: #2e2f42;}
.main-name{background-color: #FFFFFF;
margin-bottom: 8px;}
.main-text {font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: #434455;}
.main-text{background-color: #FFFFFF;}


.main-portfolio {padding: 120px 0;}
.main-portfolio-title {font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    text-align: center;
    color: #2e2f42;}
.main-portfolio-title{ margin-bottom: 72px;}
.main-portfolio-list {display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;}
.main-portfolio-pic {width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;}
.container-team {padding: 32px 0;}
.main-portfolio-pic {width: calc((100% - 48px) / 3);}
.container-portfolio {padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;}
.main-portfolio-name {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
    color: #2e2f42;}
.main-portfolio-name {margin-bottom: 8px;}
.main-portfolio-text {font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;
    color: #434455;}
.main-portfolio-text {text-align:left;}


.footer {background: #2e2f42;}
.footer {padding: 100px 0;}
.footer-logo {font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5}
.footer-logo {display: inline-block;
margin-bottom: 16px;}
.footer-logo-blue {color: #f4f4fd;}
.footer-text {font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;
    color: #f4f4fd;}
.footer-text {max-width: 264px;}

        